<%= form_for(@sound_bite) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :transcript %><br>
    <%= f.text_field :transcript %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :recording_date %><br>
    <%= f.datetime_select :recording_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
