<h1>SoundBites</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Transcript</th>
      <th>Length</th>
      <th>Audiofile</th>
      <th>Recording date</th>
      <th>No. of Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>
hi
  <tbody>
    <% @sound_bites.each do |sound_bite| %>
      <tr>
        <td><%= link_to sound_bite.title, sound_bite %></td>
        <td><%= sound_bite.transcript %></td>
        <td><%= sound_bite.length %></td>
        <td><%= sound_bite.audiofile %></td>
        <td><%= sound_bite.recording_date %></td>
        <td><%= sound_bite.comments.length %> </td>
        <td><%= link_to 'Show', sound_bite %></td>
        <td><%= link_to 'Edit', edit_sound_bite_path(sound_bite) %></td>
        <td><%= link_to 'Destroy', sound_bite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>

<%= link_to 'New Sound bite', new_sound_bite_path %>
