<html>
  <head>
  	<title>Album List</title>
  </head>
  	<style> .highlight {background-color: blue;}</style>
  <body>
    <table>
		<tr>
		 <th>Rank</th>
		 <th>Album</th>
		 <th>Year</th>
		</tr>
		<% result.each do |album| %>
		<% if(album.rank==ranking) %> 
		<tr class="highlighted">	
		<td> <%=album.rank %> </td>
		<td> <%=album.name %> </td>
		<td> <%=album.year %> </td>
		</tr>
		<% else %>
		<tr>	
		<td> <%=album.rank %> </td>
		<td> <%=album.title %> </td>
		<td> <%=album.year %> </td>
		</tr>
		<% end %>
	 	<% end %>
	 </table> 
  </body>
</html>